body,
html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.bg-cont {
  overflow: hidden;
}

.bg-img {
  background: url("../images/genie-bg.jpg");
  background-size: cover;
  filter: blur(5px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
}
.container {
  font-family: "Averia Libre", cursive;
  color: white;
  z-index: 2;
  transform: translate(30px, -960px);
}

header {
  margin-top: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  z-index: 10;
  filter: drop-shadow(0 0 0.5rem #263238);
}
.genie-cont {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -455px;
  z-index: -1;
}

.game-cont {
  font-size: larger;
  padding: 200px 0px;
  z-index: 1;
}

#myGuess {
  width: 500px;
}

#wins,
#losses {
  text-align: right;
}

#wins,
#losses,
#myGuess,
#guesses {
  font-size: 36px;
  filter: drop-shadow(0 0 0.5rem #263238);
}

#genie {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  filter: drop-shadow(0 0 0.75rem #d9564a);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

#pixie {
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.notice {
  display: hidden;
}

/* ==========-MEDIA QUERIES-=================  */

/* desktop  */
@media only screen and (min-width: 960px) {
}

/* end desktop  */
/* =============================== */
/* midsizes  */
@media only screen and (max-width: 960px) {
  .notice {
    left: 33.3%;
    display: block;
    font-weight: 800;
    text-align: center;
    background: gold;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    bottom: 0px;
    font-family: monospace;
    font-size: 12px;
    padding: 8px 10px;
    position: absolute;
  }
}
/* end midsizes  */

/* =============================== */

/* mobile  */
@media only screen and (max-width: 600px) {
  header {
    margin-top: 10%;
  }
  .bg-cont {
    width: 650px;
  }
  .game-cont {
    padding: 115px 0px;
  }

  #wins {
    margin-right: 85px;
  }

  #myGuess {
    text-align: right;
    width: 180px;
    margin-bottom: 60px;
  }
}

/* .subscription_box .subscription input {
    min-width: 360px;
  } */
/* end mobile  */
